[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "allestimates"]
	path = allestimates
	url = https://github.com/cran/allestimates
[submodule "chest"]
	path = chest
	url = https://github.com/cran/chest
